@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="col-md-6">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="menu">
                <li>
                    @Html.ActionLink("Xin chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Thoát</a></li>
                @if (User.IsInRole(ObajuStore.Common.CommonConstants.ADMIN))
                {
                    <li><a href="/AdminObajuStore/Home">Admin</a></li>
                }

            </ul>
        }
    </div>

}
else
{ <div class="col-md-6">
        <ul class="menu">
            <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
