@model IEnumerable<ObajuStore.Web.Models.ProductCategoryViewModel>
    @using ObajuStore.Web.Infrastructure.Extensions
@{ 
    MenuHelper menuHelper = new MenuHelper();
}
@foreach (var parent in Model)
{
    <li class="dropdown yamm-fw">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"> @parent.Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <div class="yamm-content">
                    <div class="row">
                        @{ 
                            var childs = menuHelper.GetChildByID(parent.ID);
                        }
                       @foreach (var child in childs)
                       {
                        <div class="col-sm-3">
                            <h5>@child.Name</h5>
                            @{
                                var childs2 = menuHelper.GetChildByID(child.ID);
                            }
                            <ul>
                                @foreach (var child2 in childs2)
                                {
                                    <li>
                                        <a href="category.html">@child2.Name</a>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                       }
                    </div>
                </div>
                <!-- /.yamm-content -->
            </li>
        </ul>
    </li>
}