@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi";
}

<h1 class="text-danger">Đã xảy ra lỗi.</h1>
<h2 class="text-danger">Lỗi đã xảy ra trong khi quá trình thực hiện theo yêu cầu của bạn.</h2>

