<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- email config -->
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="thamit1996@gmail.com"/>
  <add key="FromEmailPassword" value="thambn811996"/>
  <add key="FromName" value="Obaju Store"/>
  <add key="AdminEmail" value="dvbtham@gmail.com"/>
  
  <!--admin user-->
  <add key="AdminUsername" value="dvbtham@gmail.com"/>
  <add key="AdminPassword" value="admin123$"/>
  <!-- paging-->
  <add key="pageSize" value="1" />
  <add key="pageSizeAjax" value="5" />
  <add key="maxPage" value="5" />
  
  <!-- Socials login-->
  <add key="FacebookId" value="1828831167405265"/>
  <add key="FacebookSecret" value="b15c8833a506cff7b38ba87f1affa5b9"/>

  <add key="GoogleId" value="1080408337622-un64br8aodvhukfo8pim0i24sf6q4pba.apps.googleusercontent.com"/>
  <add key="GoogleSecret" value="2kwVrA0OgRhQ2S25wWOmf8cJ"/>

</appSettings>