/** Your theme modifications here **/
.form-login{
    background-color: #FFF;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#top ul.menu > li.formLogOff + li.formLogOff:before {
  content: "";

}


