@{
    ViewBag.Title = "Xác nhận tài khoản bằng Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="col-md-12">
    <div class="box">
        <p>
            Cảm ơn bạn đã kích hoạt tài khoản. Vui lòng @Html.ActionLink("Bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
