
@{
    ViewBag.Title = "Kích hoạt bằng Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">

    <ul class="breadcrumb">
        <li>
            <a href="/">Trang chủ</a>
        </li>
        <li class="active"> Đăng ký</li>
    </ul>

</div>

<div class="col-md-12">
    <div class="box">
        <h1>Yêu cầu kích hoạt bằng Email đã được gửi.</h1>

        <p>Vui lòng kiểm tra email của bạn để kích hoạt tài khoản.</p>
    </div>
</div>

