@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng kiểm tra Email của bạn để thay đổi mật khẩu
    </p>
</div>
	
